@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #28104E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.parent{
    height: 500px;
    width: 600px;
    background-color: #d493f3;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    height: 460px;
    width: 560px;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
}
.heading{    
    text-align: center;
}
h2{
    margin-top: 25px;
    color: #28104E;
}
.enter_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    margin-top: 30px;
    height: 40px;
    width: 300px;
    padding: 10px;
    vertical-align: top;
    border-radius: 5px;
}
textarea::placeholder{
    padding: 0px;
    color: rgb(119, 115, 115);
}
button{
    margin-top: 10px;
    height: 25px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid purple;
}
button:hover{
    cursor: pointer;
}

.allother{
    margin-top: 15px;
}
